.Navbar {
  background: #0066FF;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
}

.Title {
  padding-top: 15px;
  justify-content: center;
  /* border: 2px solid black; */

}

.navbaritems {
  padding-top: 25px;
  /* border: 2px solid black; */

}

.navlink {

  background-color: white;
  color: #3498DB;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  border-radius: 5px;
}

.navlink:hover {
  background-color: rgb(0, 225, 255);
  color: white;
  text-decoration: none;

}

.active {
  /* background: red; */
  background: rgb(0, 225, 255);
  color: white;
  text-decoration: none;

}

h1 {
  color: white;
}