/* PROFILE PAGE - entire page*/
.Profile{
    background: lightblue;
    display: flex;
    justify-content: space-evenly;
    
    
}


/* Profile Form */
.Rightside{
    
    width: 325px;
    display: flex;
    justify-content: center;
    
}



.input{
    padding: 5px;
    display: flex;
    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
    
    
}

/* A. PROFILE CARD CONTAINER (friend)*/

.Leftside{
    /* border: 2px solid red; */
    width: 325px;
    display: flex;
    flex-direction: column;
    
  
}

.Userimgbox{
    /* border: 2px solid black; */
    height:125px;
    width: 125px;
    background: gray;
    border-radius: 5px;
    margin-top: 10px;
}


    /* PROFILE CARD (Friend)*/
.Friend-list{
    /* border: 2px solid black; */
    height:125px;
    }

.FriendCard{
   background:green;
   
}
